form {
    display: flex;
    align-items: center;
  }
  
  input[type='text'] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #c807be;
    border-radius: 20px;
    font-size: 16px;
    width: 300px;
    height: 30px;
  }
  
  button[type='submit'] {
    padding: 8px 16px;
    background-color: #9a64c8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 60px;
  }
  
  button[type='submit']:hover {
    background-color: #8facc8;
  }
  
  /* AddBookForm.css or your stylesheet */
.book-title {
  cursor: pointer;
  color: #4b2076;
}

.remove-button {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #8970f5;
}

.remove-button:hover {
  color: #ff007f; /* Change to the desired color on hover */
}
